
*{
    box-sizing: border-box;
}

body{
    background-color: burlywood;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

.quiz-container{
    background-color: whitesmoke;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.quiz-header{
    padding: 5rem;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0px;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}

.buttons-container{
    display: flex;
    justify-content: space-evenly;
}

button{
    background-color: orangered;
    border-radius: 10px;
    color: white;
    padding: 1.3rem;
    width: 24%;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

button:hover{
    opacity: 0.9;
}

button:focus{
    outline: none;
}


.time{
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
}